nav {
    height: 4rem;
    width: 100%;
    padding: 0.5rem;
    background-color: gray;

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 2;
}

nav ul {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav.menu {
    width: 8rem;
    height: fit-content;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    position: fixed;
    top: 3.65rem;
}

nav.menu {
    right: 0;
}

nav.menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

nav.menu li {
    width: 100%;
}
nav.menu button {
    width: 100%;

    display: flex;
}

nav.menu button span.text {
    flex-grow: 1;
    font-size: 1rem;
}
