nav {
    height: 4rem;
    width: 100%;
    padding: 0.5rem;
    background-color: gray;

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 2;
}

nav ul {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav.menu {
    width: 10rem;
}
